* {
    padding: 0; 
    margin: 0;
}
body {
    background: black;
}

h2 {
    color: #fff;
    padding: 5px; 
    text-align: center;
}

#location {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
}